.left-nav{
   

    .left-nav-header{
        display: flex;
        height: 80px;
        align-items: center;
       

        img{

            height: 60px;
            margin: 0 20px;

        }
        
    }

}

.bottom-line{
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px red solid;
}